.back_arrow{
    width: 5%;
    height: 5%;
    margin: 10px;
}

.h1{
    font-family: 'Roboto', sans-serif;
    margin-top: 25%;
    text-align: center;
    font-size: 50px;
}
.button_list{
    text-align: center;
}
.li_button{
    padding: 15px;
    margin: 5px;
    width: 90%;
    border-radius: 20px;
    border: none;
    padding: 15px 0px 15px 0px;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
}

.h2{
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
    font-weight: 10;
}

.main_button{
    width: 90%;
    margin: 5%;
    background-color: #ff6d71;
    border-radius: 20px;
    border: none;
    padding: 15px 0px 15px 0px;
    color: white;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
}